@include font-face("OpenSans", "opensans-regular", 400);
@include font-face("UniNeue", "opensans-semibold", 600);
@include font-face("UniNeue", "opensans-bold", 700);
@include font-face("UniNeue", "UniNeueHeavy", 800);

@font-face {
  font-family: "OpenSans";
  src: url('../fonts/opensans-italic.woff2') format('woff2'), 
       url('../fonts/opensans-italic.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}