.contacts {

  &__list {

    margin-top: 20px;
    margin-bottom: 40px;
    color: $blue;

  }

  &__item {

    &:not(:last-child) {

      margin-bottom: 10px;

    }

  }

  &__link {

    position: relative;
    padding-left: 20px;
    transition: all .2s ease-in-out;

    &:hover {

      color: #fff;
      transition: all .2s ease-in-out;

    }

    &::before {

      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

    }

    &--phone {

      &::before {

        background-image: url('../icon/phone.svg');

      }

    }

    &--mail {

      &::before {

        background-image: url('../icon/mail.svg');

      }

    }

    &--telegram {

      &::before {

        background-image: url('../icon/telegram.svg');

      }

    }

    &--github {

      &::before {

        background-image: url('../icon/github.svg');

      }

    }

    &--adress {

      &::before {

        background-image: url('../icon/marker.svg');

      }

    }


  }

}

@media (max-width: 670px) {

  .contacts {

    &__list {

      text-align: center;

    }

  }

}