.section {

  &__list {

    &--style {

      color: $blue;
      list-style: disc;
      padding-left: 20px;

    }

    &--expirience {

      margin-top: 20px;

    }

  }

  &__title {

    margin-bottom: 15px;

  }

  &__item {

    &:not(:last-child) {

      margin-bottom: 30px;

    }

    &--expirience {

      &:not(:last-child) {

        margin-bottom: 10px;

      }

      span {

        color: $main;

      }

    }

    &--projects {

      display: flex;
      justify-content: space-between;

    }

  }

  &__item-wrap {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    &--projects {

      flex-direction: column;
      align-items: start;
      justify-content: start;
      width: 40%;

    }

  }

  &__subtitle-desc {

    font-size: 18px;
    font-style: italic;
    color: $main;

  }

  &__desc {

    font-size: 18px;
    color: $second;

  }

}

@media (max-width: 480px) {

  .section {

    &__subtitle-desc {

      font-size: 16px;
  
    }
  
    &__desc {
  
      font-size: 16px;
  
    }

  }
  
}

pre {

  max-width: 100%;

}

code {

  max-width: 100%;

}